*{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

img.header{
    width: 1263px;
    height: 160px;
    position: fixed;
}

.navbar{
    max-width: 1250px;
    padding: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    background-color: #BDAC92;
    margin-right: -5px;
    margin-top: 155px;
    height: 1px;
    position: fixed;
}

.navbar ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    font-size: 20px;
}

.navbar ul li {
    position: relative;
}

.navbar ul li a {
    text-decoration: none;
    color: black;
    padding: 10px 20px;
    display: block;
    transition: background-color 0.3s;
}

.navbar ul li a:hover {
    background-color: white;
    color: #000;
    border-radius: 5px;
}

.navbar ul li.active a {
    background-color: #fff;
    color: #000;
    border-radius: 5px;
}

.navbar ul li .dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    z-index: 1;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    overflow-y: auto;
    max-height: 200px; /* Agar dropdown bisa di-scroll jika terlalu panjang */
}

.navbar ul li .dropdown-content li {
    display: block;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.navbar ul li .dropdown-content li a {
    color: #fff;
    padding: 10px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.navbar ul li .dropdown-content li a:hover {
    background-color: #555;
}

.navbar ul li:hover .dropdown-content {
    display: block;
    top: 100%;
    left: 0;
}

p.judul{
    font-size: 40px;
    padding-top: 30px;
    padding-left: 30px;
    color: black;
    margin-top: -5px;
    background-color: #BDAC92;
    padding-top: 250px;
}

p.a{
    font-size: 20px;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    line-height: 1.5;
    text-align: left;
    color: black;
    background-color: #BDAC92;
}

p.b{
    font-size: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    line-height: 1.5;
    text-align: left;
    color: black;
    background-color: #BDAC92;
}

p.c{
    font-size: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    line-height: 1.5;
    text-align: left;
    color: black;
    background-color: #BDAC92;
}

p.d{
    font-size: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    line-height: 1.5;
    text-align: left;
    color: black;
    background-color: #BDAC92;
}

p.e{
    font-size: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 50px;
    line-height: 1.5;
    text-align: left;
    color: black;
    background-color: #BDAC92;
}